<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Homepage of Zhenrui Yue">
        <meta name="author" content="Zhenrui Yue">
            
        <link rel="icon" href="/static/favicon.ico">
        <title>Zhenrui's Homepage</title>
            
        <!-- Bootstrap CSS and custom CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/album.css">

        <!-- JQuery and JavaScript at last to minimize load time -->
        <script src="/static/js/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/docs.min.js"></script>
    </head>

    <body>
        <h1><a href="{% url "blog:post_list" %}">Zhenrui's Blog</a></h1>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>